{
  "extends": ["airbnb", "airbnb/hooks", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "globals": {
    "localStorage": true
  },
  "rules": {
    "linebreak-style": ["error", "windows"],
    "react/prefer-stateless-function": "off",
    "react/no-array-index-key": "off",
    "default-param-last": "off",
    "no-param-reassign": "off",
    "no-lonely-if": "off"
  },
  "settings": {
    "import/resolver": {
      "eslint-import-resolver-custom-alias": {
        "alias": {
          "src": "./src",
          "@components": "src/components",
          "@pages": "src/pages",
          "@constants": "src/constants",
          "@store": "src/store",
          "@utils": "src/utils",
          "@hooks": "src/hooks"
        },
        "extensions": [".js", ".jsx"],
        "packages": ["packages/*"]
      }
    }
  }
}
